p {
    /* cor do texto */
    color: rgb(151, 17, 57);
    /* cor de fundo do texto */
    background-color: rgb(237, 159, 167);
    /* nome da fonte do texto (caso não esteja disponível, é solicitada qualquer uma do tipo sans-serif) */
    font-family: "Helvetica", sans-serif;
    /* estilo da fonte (pode ser normal, italic ou oblique) */
    font-style: normal;
    /* alinhamento do texto (pode ser center, right, left ou justify) */
    text-align: justify;
    /* tamanho da altura de cada linha */
    line-height: 3px;
    /* tamanho do espaço entre cada letra */
    letter-spacing: 3px;
    /* tamanho do espaço entre cada palavra */
    word-spacing: 5px;
    /* tamanho da margem da primeira linha do texto */
    text-indent: 30px;
}

body {
    /* qualquer fonte que possua as letras do mesmo tamanho */
    font-family: monospace;
    /* imagem de fundo do texto */
    background-image: url(linkDaWeb_ou_nomeDoArquivo.jpg);
    /* largura, estilo de exibição e cor da borda de cima */
    border-top: 1px solid rgb(0, 0, 0);
    /* largura, estilo de exibição e cor da borda da direita */
    border-right: 1px solid rgb(0, 0, 0);
    /* largura, estilo de exibição e cor da borda de baixo */
    border-bottom: 1px solid rgb(0, 0, 0);
    /* largura, estilo de exibição e cor da borda da esquerda */
    border-left: 1px solid rgb(0, 0, 0);
    /* altura */
    height: 300px;
    /* largura */
    width: 300px;
}

p {
    /* distância entre o limite do elemento e seu conteúdo acima, à direita, abaixo e à esquerda respectivamente */
    padding: 10px 20px 15px 5px;
    /* se passarmos apenas um valor, ele serve para todas as direções */
    padding: 10px;
    /* se passarmos dois valores, o primeiro será aplicado acima e abaixo e o segundo à direita e à esquerda */
    padding: 10px 20px;
    /* se passarmos três valores, o primeiro aplicado acima, o segundo à direita e à esquerda, e o terceiro abaixo */
    padding: 10px 20px 15px;
    /* espaçamento além do elemento em si (externo), funciona da mesma maneira que o padding */
    margin: 10px 20px 15px 5px;
    /* caso optarmos pela definição automática do navegador (margens iguais e de acordo com o espaço disponível) */
    margin: 0 auto;
}

ul {
    /* símbolo de círculo para os elementos da lista */
    list-style-type: circle;
}

ol {
    /* alterar o padrão de números para letras do alfabeto */
    list-style-type: upper-alpha;
}