@font-face {
    font-family: 'Oswald'; /* nome da fonte do texto */
    src: url('../fonts/Oswald-Regular.ttf') format('truetype'); /* direcionamento da fonte Oswald, localizada na pasta fonts */
}

* {
    font-family: 'Oswald', sans-serif; /* nome da fonte sem serifa */
}

html {
    height: 100%; /* altura ocupa todo a tela */
}

body {
    margin: 0; /* margem de 0 pixels */
    background-color: #0D262D; /* cor de fundo próxima do preto */
    color: #fff; /* cor branca */
    height: 100%; /* altura ocupa toda a tela */
}

.conteudo {
    display: flex; /* caixa contínua que tem flexibilidade */
    flex-direction: column; /* os itens ficam em uma única coluna */
    align-items: center; /* alinha os itens no centro da caixa */
    min-height: 100%; /* altura mínima */
}

.exercicio div {
    font-size: 3em; /* tamanho de 30 em */
    border: solid 5px #fff; /* borda sólida com largura de 5 pixels e cor branca */
    padding: 20px 40px; /* distância entre o limite do elemento e seu conteúdo acima/abaixo e à direita/esquerda */
    margin: 10px; /* margem de 10 pixels */
}

.exercicio div:nth-of-type(1) {
    background-color: darkgoldenrod; /* cor de fundo dourada */
}

.exercicio div:nth-of-type(2) {
    background-color: crimson; /* cor de fundo carmesim */
}

.exercicio div:nth-of-type(3) {
    background-color: darkcyan; /* cor de fundo azul ciano */
}

.exercicio div:nth-of-type(4) {
    background-color: darkorchid; /* cor de fundo próxima do lilás */
}

.exercicio .destaque {
    border: solid 10px greenyellow; /* borda sólida de 10 pixels e cor amarelo esverdeado */
    color: greenyellow; /* cor amarelo esverdeado*/
    font-weight: bold; /* fonte em negrito */
}