* {
    box-sizing: border-box;
    /* as propriedades de largura (width) e de altura (height) incluem o tamanho padding size e a propriedade border,
    mas não incluem a propriedade margin */
}

@font-face {
    font-family: 'pixel'; /* nome da fonte do texto */
    src: url('../fonts/Pixel.ttf'); /* direcionamento da fonte "Pixel.ttf", localizada na pasta fonts */
}

[wm-flappy] {
    position: relative; /* o elemento pode aceitar as propriedades top, bottom, left e right */
    border: 5px solid dodgerblue; /* largura, estilo de exibição e cor da borda */
    height: 700px; /* altura de 700 pixels */
    width: 1200px; /* largura de 1200 pixels */
    margin: 15px; /* margem de 15 pixels */
    background-color: deepskyblue; /* cor de fundo */
    overflow: hidden; /* se passar do bloco, o conteúdo é cortado e nenhuma barra de rolagem é exibida */
}

.passaro{
    position: absolute; /* o elemento pode aceitar as propriedades top, bottom, left e right */
    width: 60px; /* largura de 60 pixels */
    left: calc(50%-30px); /* calcula para ficar centralizado na esquerda, de acordo com o tamanho do pássaro (30 pixel) */
    bottom: 50%; /* centralizado no meio da caixa */
}

.par-de-barreiras{
    position: absolute; /* o elemento pode aceitar as propriedades top, bottom, left e right */
    top: 0; /* as barreiras estão encostadas na borda de cima */
    height: 100%; /* altura ocupa toda a caixa */
    display: flex; /* caixa contínua que tem flexibilidade */
    flex-direction: column; /* os itens ficam em uma única coluna */
    justify-content: space-between; /* determina um espaço entre as barreiras */
}

.barreira{
    display: flex; /* caixa contínua que tem flexibilidade */
    flex-direction: column; /* os itens ficam em uma única coluna */
    align-items: center; /* alinha os itens no centro da caixa */
}

.barreira .borda{
    height: 30px; /* altura de 30 pixels */
    width: 130px; /* largura de 120 pixels */
    background: linear-gradient(90deg, #639301, #A5E82E); /* degradê linear na cor */
    border: 2px solid #000; /* borda sólida com largura de 2 pixels e cor preta */
}

.barreira .corpo{
    height: 120px; /* altura de 120 pixels */
    width: 110px; /* largura de 110 pixels */
    background: linear-gradient(90deg, #639301, #A5E82E); /* degradê linear na cor */
    border-left: 2px solid #000; /* borda da esquerda sólida com largura de 2 pixels e cor preta */
    border-right: 2px solid #000; /* borda da direita sólida com largura de 2 pixels e cor preta */
}

.progresso{
    position: absolute; /* o elemento pode aceitar as propriedades top, bottom, left e right */
    top: 10px; /* posicionado a 10 pixels da borda de cima */
    right: 10px; /* posicionado a 10 pixels da borda da direita */
    font-family: Pixel; /* nome da fonte */
    font-size: 70px; /* tamanho da fonte */
}